.loginHeader {
  background-color: slategrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loginHeader a {
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
}
.loginHeader ul {
  display: flex;
  flex-direction: row;
}

.loginHeader ul li {
  cursor: pointer;
  padding: 10px;
}

@media screen and (orientation: portrait) {
  .loginHeader {
    height: 5vmax;
  }
}

@media screen and (orientation: landscape) {
  .loginHeader {
    height: 5vmin;
  }
}
