.seats {
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  background-color: rgb(245, 245, 245, 0.9);
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.floorName {
  margin: 10px;
}

.seatTable {
  padding: 20px;
  margin: 10px;
}

.seat {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: black 0.1vmin solid;
  width: 50px;
  height: 50px;
  margin: 0.5px;
}

.seat:hover {
  background: deepskyblue;
}

.seat.userIn {
  background-color: #f80805;
}

.seat.userIn:hover {
  background-color: lightcoral;
}

.blank {
  width: 51.63px;
  height: 51.63px;
  margin: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}
